<h1 mat-dialog-title>Novo Produto</h1>

<form [formGroup]="produtoForm">
    <p>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput required formControlName="nome">
        </mat-form-field>
    </p>
    
    <p>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput required formControlName="preco">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput required formControlName="quantidade">
        </mat-form-field>
    </p>

    <button mat-raised-button color="primary" [disabled]="produtoForm.invalid" cdkFocusInitial (click)="saveOnClick()">Save</button>
</form>