<mat-toolbar color="primary">    
  <button mat-button routerLink="/produto">Listar Produto</button>
  <button mat-button routerLink="/produto-cadastrar">Cadastrar Produto</button>
</mat-toolbar>

<router-outlet></router-outlet>